 /* Theme Name: Neurofitness Centre Canada Theme
    Theme URI: http://www.neurofitcenter.ca
    Description: Responsive Fullscreen Wordpress Theme
    Author: James Anderson
    Author URI: http://www.innovativeimaginations.com
    Version: 1.0
    License: GNU General Public License version 3.0
    License URI: http://www.gnu.org/licenses/gpl-3.0.html
    Tags: translation-ready, theme-options, post-formats, featured-images,  custom-menu
    Text Domain: neurofit
*/ 



html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
     font-family: 'Raleway', sans-serif;
}

input, button, select, textarea {
    max-width: 100%;
}

@-ms-viewport{
  width: device-width;
}
/*---------------Font--------------------*/
p {
    font-family:'Raleway', sans-serif;
    font-size:1.125em;
    color:#000000;
    /*    text-align: left;
    line-height: 1.9;
    */
}
h1 {
    font-family:'Raleway', sans-serif;
    font-size:2.00em;
    color:#000000;
    /*    font-size: 3vmax;
    font-size: 2.5em;*/
}
h2 {
    font-family:'Raleway', sans-serif;
    font-size:1.5em;
    color:#000000;
    /*    font-size: 2vmax;
    font-size: 1.5em;*/
}
h3 {
    /*    font-size: 1.5vmax;
    font-size: 1.5em;*/
}
li {
    color:#000000;
}





/*---------------Global Header------------------*/


.btn-group {
    background-color: transparent;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

.navbar-nav > li > a {
    padding-bottom: 0px;
}

.navigation-1 > li > a {

    margin-top: -7px;
}

li .inpt-search {
    padding-top: 10px;
    height: 3px;
    margin-top: 4px;
    width: 154px;
}

.pull-right {
    padding-top: 5%;
}

.nav > li > a {
    margin: 10px 20px 0px 0px;
    padding: 0px;
          text-decoration: none;
  color: #cb6829 !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.input-group-addon.srch_btn {
    height: 22px;
    width: 22px;
    padding: 0px;
    background-color: #fff;
    margin: -8px;
}



.navigation-menu > .row div > div {
    display: block;
}

.main-nav {
    position: relative;
    z-index: 30;
    margin-right: 9px;
    margin-bottom: -7px;
}

    .main-nav > ul {
        margin: 0;
    }

.navbar-brand img {
    width: 100%;
}

.navbar-default .navbar-brand {
    margin-left: 5.666667%;
    position: absolute;
    top: 3%;
}

.navbar-custom-collapse {
    width: 100%;
    background-color: rgba(255,255,255,.9);
    -moz-box-shadow: 0 1px 46px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 46px 0px rgba(0,0,0,0.4);
    box-shadow: 0 1px 46px 0px rgba(0,0,0,0.4);
    -moz-transition: margin, 0.55s, ease;
    -o-transition: margin, 0.55s, ease;
    -webkit-transition: margin, 0.55s, ease;
    transition: margin, 0.55s, ease;
}



.navbar-default .navbar-nav > li > a {
    /*color: black;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: transparent;*/
    height:30px;
    position:initial;
    text-align:center;
    margin-left:0px;
    margin-right:0px;
    padding-left:10px;
    padding-right:10px;

}

    .navbar-default .navbar-nav > li > a:hover {
        color: #081c2b;
        background: none;
        border-color: #6c7088;
    }

.navbar-default .navbar-nav > .active > a {
    background-color: transparent;
}

    .navbar-default .navbar-nav > .active > a:hover {

        background-color: transparent;
    }

.contact-number {
    padding: 5px 10px;
}

/*---------------End of Global Header------------------*/





/*---------------Beginning of Header Responsive Design-----------------*/


/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1, h2, h3, p {
        text-align: left;
    }

    .navbar-brand img {
        width: 60%;
    }

    .navbar-default .navbar-brand {
        top: 3%;
    }

    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 5.666667%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {

    h1, h2, h3, p {
        text-align: left;
    }

    .navbar-default .navbar-brand {
        top: -8px;
        width: 25%;
        margin-left: 15px;
    }

    .navbar-header {
        float: none;
        height: 60px;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                
            }

    .navbar-default .navbar-nav > li > a {
        height: 40px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    h1, h2, h3, p {
        text-align: center;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none!important;
        }

    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                height:40px;
            }

    .navbar-default .navbar-brand {
        width: 25%;
        position: relative;
        margin-left: 0px;
    }

}

@media (max-width:768px) {
    h1, h2, h3, p {
        text-align: center;
    }

    .navbar-default .navbar-brand {
        margin-left: 0px;
        width: 30%;
        top: 0;
        padding-top:1.5%;
    }

        .navbar-default .navbar-brand img {
            margin-left: 15px;
        }

        .navbar-default .navbar-brand a {
            width: 75%;
        }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none!important;
        }

    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
}

@media (max-width:480px) {
    .navbar-default .navbar-brand {
        width: 60%;
    }
}


/*End of Header (Navigation) Mobile Styling*/


/*--------------------Beginning of Footer---------------------*/




.custom-footer {
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.5);
      
      padding-top:2%;

}
.custom-footer a{
    text-decoration: none;
}
    .custom-footer h4 {
  color: white;
  font-size: 100%;
  font-weight: bold;
    }

    .custom-footer ul {
        padding: 0px;
    }

        .custom-footer ul > li {
            display: block;
            color: grey;
            text-decoration: none;
        }

            .custom-footer ul > li a {
                color: grey;
            }

                .custom-footer ul > li a:hover {
                    color: #FFFFFF;
                    text-decoration: none;
                }

footer h4 {
    color: grey;
    margin-top: 30%;
}

footer ul {
    padding: 0;
}

.footer-menu li {
    display: block;
    float: left;
    border: 1px solid #1E90FF;
    border-width: 0 1px 0 0;
    padding: 3px 10px;
}

    .footer-menu li:first-child {
        padding: 3px 10px 3px 0;
    }


.bottom-logo {
    margin-top: 5%;
    margin-left: 3%;
}

.bottom-font-styling-logo {
    text-align: center;
    color: white;
}



/*--------------------End of Footer---------------------*/

/*----------Beginning of Footer Mobile Styling----------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    footer {
        padding-top: 5%;
    }


        footer a {
            text-align: left;
            
        }

    .bottom-font-styling-logo {
        margin-left: 0px;
    }

    .custom-footer ul {
        text-align: center;
    }

    .custom-footer h4 {
        text-align: center;
        margin-top: 20%;
    }

    .custom-footer img {
        margin: 0 auto;
    }
.text-overlay-bottom-text{
      padding: 5% 0;
}
    .text-overlay-bottom-text p {
        color: #000000;
        font-size:1em;
    }
}

@media (max-width:768px) {

footer h4{
    margin-top:0;
}

    .middle-images-row img {
        margin-bottom: 5px;
    }
    .bottom-font-styling-logo {
        margin-left: 0px;
    }

    .custom-footer {
        text-align: center;
    }

        .custom-footer img {
            margin: 0 auto;
        }

        .bottom_logo_area{
              background-color: #000000;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 15px;
        }
}



/*----------End of Footer Mobile Styling----------*/









/*-----------------------------Full Width Template------------------------------------*/



.entry-title {
    display:none;
}
.full-width3 {
  padding-top: 10.125rem;
  padding-bottom: 5.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom:2%;
}
 
.full-width3 h1 {
    font-size: 2.5em;
    color: gray;
    padding-bottom:.5em;
}

    .full-width3 .top-schedule-button {
        margin-top: 2%;
    }

.thank_you p, .thank_you h1, .thank_you h2{
    text-align: center;
}

/*--------------------content-------------------*/
.page-content {
    padding-bottom: 40px;
}

.title-info {
    color: #008DD0;
}

#primary, #sidebar-form {
    z-index: 2;
}

.entry-content {
    margin-top: 40px;
}

/*-----------------------------End of Full Width Template------------------------------------*/

.widget-title {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    margin-bottom: 50px;
    color: gray;
}







