
p{
    line-height: 34px;
}


.align-center{
    margin:0 auto;
}

.flex-direction-nav a.flex-next {
    right: 0;
    color: #ffffff;
    opacity: 1;
}
.flex-direction-nav a.flex-prev{

        left: 0;
    color: #ffffff;
    opacity: 1;
}
/*Overlap styling from template*/
.logo img {
    margin-top:10px;
}
.menu-head, .menu-icon {
    background-color:#7fb692;
}
.menu-icon {
    border-color:#7fb692;
}
.z-nav__item .z-nav__list-secondary {
    background-color: rgba(127, 182, 146, .4)
}
.z-nav .z-nav__link:hover {
    background-color: #cb6829;
    color:#FFFFFF;
}
.z-nav__item .z-nav__list-secondary:before {
    background-color: rgba(203, 104, 41, .4)
}
.z-nav__list-secondary .z-nav__link:before {
    content: none;
}
.header--thin .z-nav__item .z-nav__list-secondary a {
    color:#FFFFFF;
}
.header--light .fixed-top {
    background-color: #FFFFFF;
}
.header--light .z-nav__list {
    background: #FFFFFF;
}
.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
    background-color: #7fb692;
}
.flex-direction-nav .flex-prev:hover, .flex-direction-nav .flex-next:hover {
    background-color: #cb6829;
}
.leftside-arrow, .rightside-arrow {
    background-color: #7fb692;
    border: 1px solid #7fb692;
}
.leftside-arrow:hover, .rightside-arrow:hover {
    background-color: #cb6829;
    border-color: #cb6829;
}
.leftside-arrow .arrow-heading, .rightside-arrow .arrow-heading {
    background-color: #cb6829;
}
.carousel-sides .swiper-slide:hover .image-container:before {
    border-color: transparent;
}
.carousel-sides {
    max-height: none;
}
.image-container--border img {
    border:none;
}
.full-carousel a {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    /*filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -o-filter: brightness(0.9);
    -ms-filter: brightness(0.9);*/
}
.full-carousel a:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
}
.custom_slider_styling h2 {
    text-align: center;
    padding:0 2%;
    background-color:#cb6829;
    color:#FFFFFF;
    font-size: 1.5em;
    margin-top:0;
        margin-bottom: 15px;
}
.custom_slider_styling h3 {
    text-align: center;
    margin-top:5px;
    color:#cb6829;
}
.custom_slider_styling p {
    padding:0 5%;
    text-align: center;
    color:#000000;
}
.carousel-sides .swiper-slide .position-bottom{
        position: absolute;
    bottom: 0;
    width: 100%;
}
.carousel-sides .swiper-slide .image-container img{
    max-height:143px;
    max-width:150px;
}
.carousel-sides .swiper-slide{
    min-height: 426px;
}
.testimonial-block .block-title {
    color:#FFFFFF;
    font-size: 40px;
}
.block-title:before {
    background-color: #7fb692;
}
.divider-brand:before {
    background-color: #7fb692;
}
.sub-header {
    color:#FFFFFF;
    font-size:1.500em;
}
.testimonial-wrap .testimonial__author {
    color:#cb6829;
    font-size:1.250em;
}
.testimonial .testimonial__info {
    color:#7fb692;
    font-size:1.000em;
}
.testimonial .testimonial__text {
    color:#FFFFFF;
    font-size: 1.000em;
}
.mCSB_dragger {
    background-color: #cb6829;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    background-color: #FFFFFF;
}
.testimonial-block {
    padding-bottom:0px;
}
.top-scroll {
    background-color: #7fb692;
}
.top-scroll-custom{
        display: none;
    position: fixed;
    bottom: 0;
    right: 5%;
    z-index: 1000;
    display: block;
    width: 500px;
    height: 48px;
    font-size: 14px;
    
    text-align: right;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}
.top-scroll-custom .social__item{
    margin-right:5px !important;
}
.progress--secondary .progress {
    border:2px solid #7fb692;
}
.progress--secondary .progress-bar {
    background-color: #7fb692;
}
/* ------------------ Home Page ------------------ */



/*---Top of the Body---*/



.top-container {
    height: auto;
}


.topimageholder {
    width: 100%;
      max-height: 592px;
  height: 592px;
  margin-top:5%;
}

.topimage {
/*margin-top:5%;*/
    background-image: url('http://neurofitcenter.ca/neurofitinstall/wp-content/uploads/2015/05/topbackgroundimage.jpg');
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}
.top-background-image {
    position: absolute;
    top: 0px;
    width: 100%;
}

.upper-container {
    background-image: url('http://localhost/neurofit_wp/wp-content/uploads/2015/03/topImage_02_04.jpg');
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.upper-text-box {
    text-align: center;
    margin-top: 12%;
}

    .upper-text-box h1 {
        color: #222f59;
        font-weight: bold;
        text-align: center;
        margin-top: 0px;
    }

    .upper-text-box h2 {
        text-align: center;
        color: #222f59;
    }

.scheduleAppointment {
      padding: 70px 0;
  background: #000;
}

.scheduleAppointment .row {

}

.top-schedule-button {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px;
              letter-spacing: 2px;
            font-weight:bold;
              text-transform: uppercase;
}

    .top-schedule-button:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    .top-schedule-button a {
        border: 1px;
        border-color: #FFFFFF;
        border-style: solid;
        text-align: center;
        text-decoration: none;
        transition: all .4s ease 0s;
        padding: 20px 30px;
        color: #FFFFFF;
        font-size: 100%;
        text-decoration: none;
    }

        .top-schedule-button a:hover {
            

            color: #FFFFFF;
            text-decoration: none;
            background-color: #cb6829;
            border-color: #cb6829;
        }

.top-home-con {
    padding:5% 0%;
    z-index: 9999;
}

    .top-home-con h2 {
        margin-bottom: 2%;
        text-align: center;
        color: #222f59;
        font-weight: bold;
    }

    .top-home-con h3 {
        margin-bottom: 2%;
        text-align: left;
        color: blue;
    }


    .top-home-con p {
        margin-bottom: 15px;
        text-align: center;
    }


/*---Middle of the Body---*/

.middle-images-row {
    margin-bottom: 2%;
}

.middle-images-row img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    filter: brightness(0.5);
    -webkit-filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -o-filter: brightness(0.9);
    -ms-filter: brightness(0.9);
}

    .middle-images-row img:hover {
        filter: brightness(1.2);
        -webkit-filter: brightness(1.2);
        -moz-filter: brightness(1.2);
        -o-filter: brightness(1.2);
        -ms-filter: brightness(1.2);
    }

.motto-2 {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #222f59;
}

    .motto-2 h3 {
        margin: 15px 0;
    }

.formind {
    background: #7fb692;
    color: #fff;
      font-size: 35px;
  font-weight: bold;
  line-height: 35px;
  padding:10px;
}

.forbody {
    background: #cb6829;
    color: #fff;
      font-size: 35px;
  font-weight: bold;
  line-height: 35px;
  padding:10px;
}

/*---Bottom of the Body---*/



.text-overlay-bottom-image {
    width: 100%;
    position: relative;
    height:100%;
}

    .text-overlay-bottom-image img {
        height: 100%;
    }
    .text-overlay-bottom-text{
        padding:5% 0;
    }
.text-overlay-bottom-text p {
    color: #000000;
    font-size:1em;
}

.text-overlay-bottom-text a {
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 5px 30px;
    background-color: rgba(255,255,255,.2);
    text-align: center;
    text-decoration: none;
    transition: all 1.0s ease 0s;
}

    .text-overlay-bottom-text a:hover {
        background-color: #222f59;
    }


/*.top-schedule-button {
    margin-top: 2%;
}*/



footer {
    height:100%;
    width:100%;
    background-position: top center;
    background-repeat: no-repeat;
}
/*---------------Home Page Mobile Styling-------------------*/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .upper-text-box h2 {
        text-align: center;
        color: #222f59;
        font-family: 'Raleway', sans-serif;
        padding-right: 18%;
        padding-left: 18%;
        line-height: 1.5;
    }

    .bottom-font-styling-logo {
        width: 70%;
    }

    .text-overlay-bottom-text a {
        top: 60%;
    }

/*    .text-overlay-bottom-text {
        position: absolute;
        top: 74%;
    }*/
    .top-home-con h2 {
          font-size: 40px;
  line-height: 40px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {
    .top-background-image {
        top: 0%;
    }

    .upper-text-box {
        margin-top: 11%;
    }

    .custom-footer {
        padding-top: 2%;
    }

    .bottom-font-styling-logo {
        margin-left: 6%;
    }

    .text-overlay-bottom-text p {
        color: #000000;
    }

    .text-overlay-bottom-text a {
        top: 75%;
        background-color: #222f59;
        margin-bottom: 5%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    .upper-text-box {
        margin-top: 12%;
    }

    .top-schedule-button {
        /*margin-top: 2%;*/
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }



    #responsive-menu {
        width: 75% !important;
    }

      .text-overlay-bottom-text {margin-top:5%;}

    .text-overlay-bottom-text p {
        color: #000000;
    }

    .text-overlay-bottom-text a {
        background-color: #222f59;
        margin-bottom: 5%;
    }

    .middle-images-row img{
          width: 80%;
  margin-left: 10%;
    }

    .top-home-con {
        padding-bottom: 0px;
    }

    .pull-right i {
        float: none !important;
    }
}

@media (max-width:767px) {
        .row {
        margin-left: 15px;
        margin-right: 15px;
    }
    .col-xs-offset-2 {
    margin-left: 16.666666666666664%;
}
    .topimage {
        /*margin-top: 13%;*/
    }
    .top-background-image {
        position: absolute;
        top: 50px;
          width: 100%;
  height: 14%;
    }
    .top_image_container {
        margin-left: 0;
        margin-right: 0;
    }
    .scheduleAppointment .row {
        padding: 0;
        margin:0;
    }
            .top-schedule-button a {
            padding: 20px 2px;
            letter-spacing:1px;
        }
    .upper-text-box h1 {
        font-size: 3.0em;
        font-weight:normal;
    }

    .upper-text-box h2 {
        margin-top: 15%;
        line-height:30px;
    }
    /*.top-schedule-button {
        margin-top: 10%;
    }*/
    
    .upper-text-box {
        margin-top: 30%;
    }

    .top-home-con {
        padding-bottom: 0px;
    }



    .text-overlay-bottom-text p {
        color: #000000;
    }

    .text-overlay-bottom-text a {
        background-color: #222f59;
        margin-bottom: 5%;
    }

    .motto-2 {
        margin-top: 0px;
    }
    .forbody {
        padding: 5px;
        line-height:55px;
    }
    .formind {
        padding: 5px;
        line-height:55px;
    }
    iframe {
  margin-left: -10%;
  margin-bottom: 2%;
    }
}

@media (max-width:480px) {
    .text-overlay-bottom-text a {
        background-color: #222f59;
        margin-bottom: 5%;
    }
}

/*Neurofit Styling*/
.neuro-block-title-header {
    color:#34495e;
    text-align: center;
    padding: 34px 0 0 0;
    margin-top: 0;
    margin-bottom: 15px;
    font-size:40px;
    text-align: center;
}
.neuro-block-title-subheader {
    color:#34495e;
    text-align: center;
    padding: 0 0 31px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}
.banner-control {
    background-color:#7fb692;
}
.custom-footer {
    margin-top:50px;
}
.social-counters{
    margin:2% 0;
}
.footer {
    background-color: rgba(0, 0, 0, .5);
    margin-top: 15px;
    padding-top: 2%;
}
.footer h3 {
    color:#FFFFFF;
}
.footer a:hover {
    color:#FFFFFF;
}
.footer a {
    color:grey;
}
.footer p {
    color:grey;
}
.footer ul {
    list-style-type: none;
}
.share--top{
    margin-top:5%;
}
.full_width_image {
    width:100%;
}
.carousel-footer {
    margin-top:0;
}
/*Front Page Styling */
.wellness-img {
    margin: 0 auto;
}
.wellness-vid {
    margin: 5% auto;
}
.wellness-vid iframe {
    vertical-align: middle;
    display: block;
    margin:0 auto;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .wellness-vid iframe {
        vertical-align: middle;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .sub-header--mobile{
        margin-top:10%;
    }
    .flexslider{
        display:block;
    }
        .footer-logo{
        margin-top:10%;
        margin-left:2%;
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .wellness-vid iframe {
        vertical-align: middle;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 360px;
    }
    .sub-header--mobile{
        margin-top:10%;
    }
        .flexslider{
        display:block;
    }
    .footer-logo {
    margin-top: 5%;
    margin-left: auto;
}

}

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    .footer-logo {
    margin-top: inherit;
    margin-left: inherit;
}

    }

    /**********************************
    Text Resizer Buttons
 **********************************/
header .pull-right{
    padding-top: 0;
}
#textsizer
{
    margin-bottom: 6px;
    text-align: right;
}
    #textsizer p
    {
        display: inline;
    }
ul.textresizer
{
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0px;
}
    ul.textresizer li
    {
        display: inline;
        margin: 0px;
        margin-right: 5px;
        padding: 0px;
    }

    ul.textresizer a
    {
        color:#7fb692;
        padding: 2px 3px;
        font-weight: bold;
        text-decoration: none;
    }

    ul.textresizer a:hover
    {
        color:#cb6829;

    }

    ul.textresizer .small-text
    {
        font-size: 11px;
    }

    ul.textresizer .medium-text
    {
        font-size: 13px;
    }

    ul.textresizer .large-text
    {
        font-size: 2.5em;
    }

    ul.textresizer .larger-text
    {
        font-size: 3em;
    }

    /* Style of active button */
    ul.textresizer a.textresizer-active
    {
        color: #cb6829;
    }
/* End of Text Resizer Buttons */

/*-----------------------------Program Page Template------------------------------------*/
.programs h1, h2 {
    font-weight: bold;
}
.programs li {
    line-height: 35px;
}
.programs p {
    line-height: 30px;
}
.programs {
    padding-left: 0px;
    padding-right: 0px;
}
.programs_top_area {
    background-color: #f4a771;
}
.programs_top_area ul {
    list-style-image: url('http://neurofitcenter.ca/neurofitinstall/wp-content/uploads/2015/05/checkmark.png');
    text-transform: uppercase;
    font-weight: 600;
}
.programs_middle_area {
    background-color: #cb6829;
}
.programs_middle_area .middle_text_area {
    padding-top: 5%;
    background-color: #7fb692;
}
.programs_middle_area .highlight_text {
    color: white;
    background: black;
    font-weight: bold;
    font-size: 1.5em;
}
.programs_middle_area .middle_right_image {
    background-color: #cb6829;
    padding:5%;
}
.programs_bottom_area {
    background-color: #f5e7cd;
    padding:15px 0;
}
/*Programs Mobile Styling*/
@media (max-width: 980px) {
    .footer .col-xs-12 li {
        text-align: center;
    }
    .programs_top_area ul{
        list-style-position: inside;
        padding-left:0px;
        text-align: center;
    }
}
@media (max-width:767px) {
    .programs .row {
        margin: 0;
    }
    .programs .top_image {
        position:initial;
        right:0;
        width: 100%;
        height: 100%;
    }
    .programs .img-responsive {
        margin: 0;
    }
    .programs .top_text_area {
        padding: 5% 15px;
    }
    .programs .top_right_image {
        padding: 0;
    }

    .programs_middle_area .middle_text_area {
        padding: 5% 0;
    }
}

@media (max-width:360px) {
    .programs .row {
        margin: 0;
    }

    .programs .top_image {
        position: initial;
        right: 0;
        width: 100%;
        height: 100%;
        /*margin-top: 14% !important;*/
    }
}

/*Neuro Optimal Page Styling*/
.neuro_optimal_page .top_text_area {
    padding-top: 5%;
}
.middle_content_container {
    background-color: #e6d6b8;
}
.middle_content_left_top_text_container {
    background-color:#7fb692;
    padding-bottom: 61px;
}
.middle_content_left_bottom_text_container {
    background-color: #cb6829;
    padding-bottom: 61px;
}
.middle_content_right_text_container {
    background-color: #e6d6b8;
    padding-bottom: 61px;
    padding-top: 10%;
}
/*Float Therapy Styling*/
.float_therapy_page .top_text_area {
    padding:5% 0;
}
.float_therapy_page .middle_content_left_top_text_container {
    padding:13.5% 0;
}
.float_therapy_page .middle_content_left_bottom_text_container {
    padding: 13.5% 0;
    max-height:none;
}
.float_therapy_page .bottom_section_top_text_area ul {
    padding:0;
    text-align: center;
}
.float_therapy_page .bottom_section_top_text_area li {
    color: #FFFFFF;
    background-color: #000000;
    margin:0;
    text-decoration: none;
    display: inline;
    padding: 0 3%;
    font-weight: bold;
}
.float_therapy_page .bottom_section_middle_right_list {
    margin-top:5%;
}
.float_therapy_page .bottom_section_middle_right_list ul {
    list-style-image: url('http://neurofitcenter.ca/neurofitinstall/wp-content/uploads/2015/05/checkmark.png');
    text-transform: uppercase;
    font-weight: 600;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .float_therapy_page .row{
        margin-left:-15px;
        margin-right:-15px;
    }

    .float_therapy_page .bottom_section_middle_right_list ul {
        list-style-position: inside;
        padding-left:0px;
        text-align: center;
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .float_therapy_page .row{
        margin-left:-15px;
        margin-right:-15px;
    }
    .float_therapy_page .bottom_section_middle_right_list ul {
        list-style-position: inside;
        padding-left:0px;
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .float_therapy_page .row{
        margin-left:-15px;
        margin-right:-15px;
    }
    .float_therapy_page .middle_content_container .col-lg-6 {
        padding:0;
    }
    .float_therapy_page .middle_content_left_top_text_container{
        padding:0px 0px 61px 0px;
    }
    .float_therapy_page .middle_content_left_bottom_text_container{
        padding:0px 0px 61px 0px;   
    }
    .float_therapy_page .middle_content_right_text_container{
        padding-top:0px;
    }
    .float_therapy_page .bottom_section_middle_right_list ul {
        list-style-position: inside;
        padding-left:0px;
        text-align: center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .float_therapy_page .row{
        margin:0 auto;
    }
    .float_therapy_page .middle_content_left_top_text_container{
        padding:13.5% 0;
    }
    .float_therapy_page .middle_content_left_bottom_text_container{
       padding:13.5% 0;   
   }
   .float_therapy_page .middle_content_right_text_container{
    padding-top:0px;
}
    .float_therapy_page .bottom_section_middle_right_list ul {
        list-style-position: inside;
        padding-left:0px;
        text-align: left;
    }
}

/*Whole Body Vibration Page*/
.whole_body_vibration_page .top_text_area {
    padding: 2% 0;
}
.whole_body_vibration_page .top_right_image {
    height: 100%;
}
.whole_body_vibration_page .middle_content_container {
    background-color:#cb6829;
}
.whole_body_vibration_page .middle_content_right_text_container {
    background-color: #cb6829;
    padding:5% 0;
}
.whole_body_vibration_page .middle_content_left_top_text_container {
    background-color:#7fb692;
    padding:5% 0;
}
.whole_body_vibration_page .programs_bottom_area ul {
    text-align:center;
}
.whole_body_vibration_page .programs_bottom_area li {
    color: #FFFFFF;
    background-color: #000000;
    margin:0 5%;
    text-decoration: none;
    display: inline;
    padding: 0 2%;
    font-weight:bold;
}
/*Whole Body Vibration Page Mobile Styling*/
@media (max-width: 992px) {
    .whole_body_vibration_page .row {
        margin-left: 0;
        margin-right: 0;
    }
    .whole_body_vibration_page .col-lg-6 {
        padding: 0;
    }
    .whole_body_vibration_page .top_text_area {
        padding: 0 15px;
    }
    .whole_body_vibration_page .top_right_image {
        height: auto;
    }
    .whole_body_vibration_page .middle_content_right_text_container {
        padding: 5% 0 5% 0;
    }
    .whole_body_vibration_page .programs_bottom_area ul {
        padding:0;
    }
    .whole_body_vibration_page .programs_bottom_area li {
        color: #FFFFFF;
        background-color: #000000;
        margin:15px 0;
        display:block;
        padding: 0 2%;
    }
}

/*Fit 3d Styling*/
.fit_3d_top_text {
    padding-top: 2%;
}

.fit_3d_top_text h1 {

}


.fit_3d_page .content-images {
    position: relative;
    width: 300px;
    left: 702px;
    top: -383px;
}

.fit_3d_middle_black_text {
    display: block;
    padding: 0px;
    letter-spacing: 2px;
    font-weight: bold;
}

    .fit_3d_middle_black_text p {
        color: white;
        text-align: center;
    }
    /*Mobile Styling*/
@media (max-width: 992px) {
    .top_right_image , .fit3d_middle_image {
        display: block;
        height: auto;
        max-width: 100%;
    }
    .top_right_image_container {
        padding: 0px;
    }
}
/*Oxigen Bar Mobile Styling*/
@media (max-width: 992px) {
    .top_right_image, .oxigen_bar_middle_image {
        display: block;
        height: auto;
        max-width: 100%;
    }
}

.middle-images-row {
    margin-left: 0px;
    margin-right: 0px;
}
/*Neuro Optimal Mobile Styling*/
@media (max-width: 992px) {
    .neuro_optimal_page .col-lg-6 {
        padding: 0;
    }
}

/*Neurotracker*/
.neurotracker_page .top_text_area {
    padding-top: 3%;
}



/*Contact Us*/
.contact_us_page p {
    color:#FFFFFF;
}
.contact_us_page li {
    color:#FFFFFF;
}
.contact_us_page a {
    text-decoration: none;
}
.contact_us_page a:hover {
    color: #FFFFFF;
}
.contact_us_page img {
    width:100%;
}
.contact_us_page .top_container {
    padding-bottom:5%;
}
.contact_us_page .top_container ul {
    list-style-image: url('http://neurofitcenter.ca/neurofitinstall/wp-content/uploads/2015/05/checkmark.png');
    text-transform: uppercase;
    font-weight: 600;
    color:#FFFFFF;
}
.contact_us_bg_image {
    background: url('http://neurofitcenter.ca/neurofitinstall/wp-content/uploads/2015/06/contactusbackground.jpg');
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_us_page .title h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;

}
.contact_us_page .top-schedule-button {
    text-align: left;
    width:auto;
    margin-left: 15px;
    margin-top:10%;
    margin-bottom:10%;
}
.contact_us_page .top-schedule-button a {
    padding:20px 65px;
}
.contact_us_page .top_container p {
    line-height: 20px;
}
.contact_us_page .store_hours_container {
    background-color: #000000;
    padding: 5% 0;
    font-weight:bold;
    text-align:center;
    font-size:2em;
}
.contact_us_page .store_hours_container li {
    display: inline;
    padding:0 15px;
    color:#000000;
}
.contact_us_form {
    margin: 2% 0;
}
.contact_us_form p {
    color: #000000;
}
.contact_us_form .required {
    color: #cb6829;
    font-weight: normal;
    font-size: 14px;
}
.contact_us_form textarea {
    width: 100%;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    height:181px;
}
.contact_us_form input {
    width: 100%;
    background: #fafafa;
    border: 1px solid #d9d9d9;
}
.contact_us_form .submit input {
    margin: 2% auto;
    text-transform: uppercase;
    border: 1px solid #7fb692;
    color: #7fb692;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 30px;
    text-align: center;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.contact_us_form .submit input:hover {
    background-color: #7fb692;
    color:#FFFFFF;
}

div.wpcf7 img.ajax-loader{
    display:none;
}

/*Contact Us Mobile Styling*/
@media (max-width:767px) {
    .contact_us_page .top-schedule-button {
        margin:5% 0;
        padding:0 15px;
    }
    .contact_us_page ul {
        display:inline-grid;
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        column-count: 2;
        column-gap: 10px;
    }
    .contact_us_page .mobile-contact-info{
        margin:10% 0;
    }

    .store_hours_container ul{
        padding:0;
    }
}
/*About us Page Styling*/

.title-info {
    color: #007BC4;
}
.about_us_page .top_container {
    background-color: #000000;
    color:#FFFFFF;
    padding-bottom:2%;
}
.about_us_page .top_container p {
    color:#FFFFFF
}
.about_us_page .title h1 {
    text-align: center;
    font-size: 3em;
    color:#FFFFFF;
}
.about_us_page .top_image {
    padding:2% 0;
    margin:auto;
}
.about_us_middle_image_container {
    padding: 2% 0;
}
.about_us_middle_image_container img {
    -webkit-filter: grayscale(100%);
}
.about_us_page .bottom_container {
    background-color:#FFFFFF;
    color:#000000;
    padding-bottom:2%;
}
.about_us_page .bottom_section_one {
    border-bottom: solid;
    border-bottom-width:1px;
    border-color:#000000;
}
.about_us_page .bottom_section_one ul {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    list-style-image: url('http://neurofitcenter.ca/neurofitinstall/wp-content/uploads/2015/05/checkmark.png');
    text-transform: uppercase;
    font-weight: 600;
    list-style-position: inside;
}
.about_us_page .bottom_section_two ul {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    list-style-image: url('http://neurofitcenter.ca/neurofitinstall/wp-content/uploads/2015/05/checkmark.png');
    text-transform: uppercase;
    font-weight: 600;
    list-style-position: inside;
}
@media (max-width:480px) {
    .about_us_page ul {
        text-align: center;
        padding-left: 0;
    }
}
.person-wrap {
    background-image: none;
}
.progress-bar {
    background-color:#cb6829;
}
/*Pricing Page Styling*/
.month-prices {
    margin-top:15px;
}
.price-spacing {
}
.price-container {
    border:1px;
    border-style: solid;
    border-color:black;
    padding:0px;
    margin-bottom:15px;
    max-height: 500px;
    min-height:250px;
}
.price-container p {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size:18px;
}
.price-container h2 {
    margin-top:5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}
.price-container section {
    background-color:#cb6829;
    color:#fff;
    text-align: center;
    font-weight:bold;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}
.prices .neuro-block-title-header{
    padding-bottom:0px;
}
.prices .block-title{
    padding:0px;
    margin-top: 10px;
}

.price-spacing a {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}
.price-spacing a:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
}
.month-prices {
}
.month-prices a {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -o-filter: brightness(0.9);
    -ms-filter: brightness(0.9);
}
.month-prices a:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
}
.bronze-member {

}
.bronze-member section {

    background: linear-gradient(top, #CD7F32, #FFFFFF);
    background: -ms-linear-gradient(top, #CD7F32, #FFFFFF);
    background: -webkit-gradient(linear, left top, left bottom, from(#CD7F32), to(#FFFFFF));
    background: -moz-linear-gradient(top, #CD7F32, #FFFFFF);
    text-shadow: 2px 2px 3px #000000;
    font-size:24px;
}
.silver-member {

}
.silver-member section {

    background: linear-gradient(top, #C0C0C0, #FFFFFF);
    background: -ms-linear-gradient(top, #C0C0C0, #FFFFFF);
    background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#FFFFFF));
    background: -moz-linear-gradient(top, #C0C0C0, #FFFFFF);
    text-shadow: 2px 2px 3px #000000;
    font-size:24px;
}
.gold-member {
 
}
.gold-member section {
   
    background: linear-gradient(top, #D4AF37, #FFFFFF);
    background: -ms-linear-gradient(top, #D4AF37, #FFFFFF);
    background: -webkit-gradient(linear, left top, left bottom, from(#D4AF37), to(#FFFFFF));
    background: -moz-linear-gradient(top, #D4AF37, #FFFFFF);
    text-shadow: 2px 2px 3px #000000;
    font-size:24px;
}


/*Employee Page Styling*/
.person-wrap{
    background:#7fb692;
}
.person-wrap .heading{
    color:#000;
    font-weight:900;
}

.person-wrap .person{
    padding-top: 35px;
    padding-bottom: 35px;
}

.person-wrap .person__image{
    margin:0px 50px 0px 0px;
}
.person__name{
    color:#000;
}
.person .person__position{
  color:#000;  
  font-weight:900;
}
.personal-testimonial{
    background:none;
    background-color: #222F59;
    padding-bottom: 34px;
}
.personal-testimonial .block-title{
        font: 28px 'Varela Round', sans-serif;
}
.personal-testimonial .block-title--top-larger{
    margin-top:0;
}
.opposite-block .heading-helper{
    text-align: left;
        margin: 24px 0;
}

.opposite-block .stat-row{
    padding-bottom:0px;
}

.person .person__image, .image-container--border-inner:before{
    border:none;
}

/*Sponsored Athlete Page Styling*/

.sponsored-athlete-page{
    margin-bottom:2%;
}
.sponsored-athlete-page img{
    width: 350px;
    height: 300px;
}
.sponsored-athlete-page .pull-right {
    padding:10px;
}
.sponsored-athlete-page .title h1{
        text-align: center;
    font-size: 3em;
}
.athlete-profile{
    margin:15px 0;
}
.athlete-description p{
    text-align: justify;
    height:180px;
}
.sponsored-athlete-page .block-title{
        padding: 0px;
    margin-top: 10px;
}

.sponsored-athlete-page .btn-info{
    background-color: #7FB692;
}